<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="msa.arena">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".ArenaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".movies.list.MoviesActivityOld"
            android:label="@string/title_activity_movies"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".movies.searchold.MovieSearchActivityOld"
            android:label="@string/title_activity_movie_search"
            android:parentActivityName=".movies.list.MoviesActivityOld"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="msa.arena.movies.list.MoviesActivityOld" />
        </activity>
        <activity android:name=".tryout.di.DaggerActivity" />
        <activity
            android:name=".movies.search.searchmenu.SearchMenuActivity"
            android:label="@string/title_activity_search_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".movies.search.spinner.SearchSpinnerActivity"
            android:label="@string/title_activity_search_spinner"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>